.usuario{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: inset 0 0 10px #000;  
}
  
.usuario img{
    width: 30%;
    border-radius: 70px;
}

body{
  display: flex;
  flex-wrap: wrap;
}